<div class="br-footer">
  <div class="container-lg">
    <div class="d-none d-sm-block">
      <div class="row align-items-end justify-content-between">
        <div class="col social-network">
          <p class="text-up-01 text-extra-bold text-uppercase">Redes Sociais</p>
          <button class="br-button mr-3" type="button" circle><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png" alt="Imagem">
          </button>
          <button class="br-button mr-3" type="button" circle><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png" alt="Imagem">
          </button>
          <button class="br-button mr-3" type="button" circle><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png" alt="Imagem">
          </button>
          <button class="br-button mr-3" type="button" circle><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png" alt="Imagem">
          </button>
        </div>
        <div class="col assigns text-right"><img class="ml-4" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png" alt="Imagem"><img class="ml-4" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png" alt="Imagem">
        </div>
      </div>
    </div>
  </div>
  <div class="br-divider"></div>
  <div class="container-lg">
    <div class="info">
      <div class="text-down-01 text-medium pb-3 text-center">Texto destinado a exibição de informações relacionadas à <strong>licença de uso.</strong></div>
    </div>
  </div>
</div>
