<div class="br-header" compact>
  <div class="container-lg">
    <div class="flex-container">
      <div class="logo">
        <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="logo">
        <div class="sign">Ministério da Ciência e Tecnologia, Inovações e Comunicações</div>
      </div>
      <div class="actions">
        <div class="links">
          <button class="br-button" type="button" circle mini><i class="fas fa-ellipsis-v"></i>
          </button>
          <ul>
            <li class="title">Acesso Rápido</li>
            <li><a href="https://www.gov.br">Ministério da Justiça e Segurança Pública</a></li>
            <li><a href="javascript:void(0);">Link de acesso 2</a></li>
            <li><a href="javascript:void(0);">Link de acesso 3</a></li>
            <li><a href="javascript:void(0);">Link de acesso 4</a></li>
          </ul>
        </div>
        <div class="avatar">
          <div class="br-badge" danger>
            <div class="icon">4</div>
            <div class="content">
              <div class="br-avatar">
                <div class="image"><img src="https://kitt.lewagon.com/placeholder/users/TonyDantas" alt="Avatar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu">
        <button class="br-button" type="button" circle mini><i class="fas fa-bars"></i>
        </button>
        <div class="title">Classificação Indicativa</div>
        <div class="subtitle">Ministério da Justiça e Segurança Pública</div>
      </div>
    </div>
  </div>
</div>
