<div class="container-fluid" id="home_geral">
  <div class="br-input" id="box">
    <%= form_tag movies_path, method: :get do %>
      <div class="row ml-1">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-lg",
            placeholder: "Pesquisar por título da obra"
          %>
          <div class="container-fluid" id="buttons_place">
            <%= submit_tag "Audiovisual", class: "br-button primary" %>
            <%= submit_tag "Jogos", class: "br-button primary" %>
          </div>
      </div>
    <% end %>
  </div>
</div>

