<div class="container-fluid" id="home_geral">
  <div class="br-input" id="box">
    <h2>Classificação Indicativa</h2>
    <p>
      Descubra a recomendação etária de filmes, séries, programas de TV ou jogos.
    </p>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= form_tag movies_path, method: :get do %>
      <div class="row ml-1">
          <%= text_field_tag :query,
            params[:query],
            class: "br-form",
            placeholder: "Pesquisar por título da obra"
          %>
          <dir></dir>
          <div class="container-fluid" id="buttons_place">
            <%= submit_tag "      Pesquisar", class: "br-button primary mini" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
