<div class="container-fluid" id="home_geral">
  <div class="br-input" id="box">
    <label for="input"></label>
    <input id="input" type="text" placeholder="Pesquisar por título da obra" />
  <div class="container-fluid" id="buttons_place">
      <label for="input"></label>
      <button class="br-button primary" type="button" primary>
          Audiovisual
      </button>
      <button class="br-button primary" type="button" primary>
          Jogos
      </button>
    </div>
  </div>
</div>
