.logo-acesso-footer {
  // background-image: url("acesso.svg");
  filter: invert(1);
}

.fa-instagram, .fa-twitter, .fa-youtube, .fa-facebook, .fa-flickr {
  color: #dbe8fb;
  font-size: 30px !important;
}

.container-footer {
  padding-top: 13px;
  padding-bottom: 30px;
}

img.patria_amada {
  width: 136px;
}

a.logo-acesso-footer {
  text-decoration: none;
}

.social-network a {
  text-decoration: none;
}