// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "css/dsgov.min";

.movie-card {
  display: flex;
  width: 100%;
  height: 250px;
  margin: 10px;
  box-shadow: 0px 5px 8px -3px;
}

#movie-card-poster {
  height: 245px;
  width: 200px;
}

#movie-card-text {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#movie-card-text h3 {
  margin-top: 80px;
  margin-bottom: 0;
}

#movie-card-text h5 {
  margin-top: 5px;
  margin-bottom: 0;
}

#movie-card-text p {
  margin-top: 5px;
  margin-bottom: 40px;
}

#movies_index {
  margin-top: 120px;
  margin-bottom: 150px;
}

.br-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.br-input {
  position: relative;
  margin: 10px;
  width: 75%;
}

#home_geral {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  background-image: asset-url("foto-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#box {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons_place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#buttons_place button{
  margin: 6px;
}

body {
  margin: 0px;
}

.br-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.buttons_place {
  position: relative;
}
